<aside id="sidebar-wrapper">
  
    <div class="sidebar-brand">

      <a href="/">
        <img alt="image" src="/img/al_rahim.png" class="header-logo" style="width: 100px; height: auto;" />
      </a>


    </div>

    <ul class="sidebar-menu">

      <li class="menu-header">Main</li>

      <% if(userData.Designation == "QA Team" || userData.Designation == "QMS Team" || userData.Designation == "Marketing Team" || userData.Designation == "Admin") { %>
      <li class="dropdown">
        <a href="/ccm-form" class="nav-link"><i data-feather="monitor"></i><span>CCM Form</span></a>
      </li>
      <% } %>

      <li class="dropdown">
        <a href="/entries-norm-user" class="nav-link"><i data-feather="monitor"></i><span>Your Entries</span></a>
      </li>

      <% if(userData.Designation == "QA Team" || userData.Designation == "Admin") { %>
      <li class="dropdown">
        <a href="/entries-qa" class="nav-link"><i data-feather="monitor"></i><span>Review Entries for QA</span></a>
      </li>
      <% } %>

      <% if(userData.Designation == "QMS Team" || userData.Designation == "Admin") { %>
      <li class="dropdown">
        <a href="/entries-qms" class="nav-link"><i data-feather="monitor"></i><span>Review Entries for QMS</span></a>
      </li>
      <% } %>

      <% if(userData.Designation == "Admin") { %>

      <li class="dropdown">
        <a href="/" class="menu-toggle nav-link has-dropdown"><i data-feather="pie-chart"></i><span>Admin Actions</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="/users-list">Users List</a></li>
          <li><a class="nav-link" href="/products-list">Products List</a></li>
        </ul>

      </li>
      <% } %>

      <li class="dropdown">
        <a href="mailto:arkham.workmail@gmail.com"><i data-feather="mail"></i><span>Report Bug</span></a>
      </li>
   </ul>
  </aside>